
                                        <tr style="border-collapse: collapse;">
                                            <td height="40"
                                                style="padding: 0; margin: 0;">
                                            </td>
                                        </tr>
                                        <tr style="border-collapse: collapse;">
                                            <td style="margin: 0;">
                                                <p
                                                    style="margin: 0; text-size-adjust: none; font-size: 14px; font-weight: bold; font-family: helvetica,helvetica neue, arial, verdana, sans-serif; line-height: 20px; color: rgb(0, 0, 0);">
                                                    <strong>This is an automatically
                                                        generated email. Please do
                                                        not reply.
                                                    </strong>
                                                </p>
                                                <p
                                                    style="margin: 0; text-size-adjust: none; font-size: 14px; font-family: helvetica,helvetica neue, arial, verdana, sans-serif; line-height: 18px; color: rgb(102, 102, 102);">
                                                    If you have any questions
                                                    regarding your account,
                                                    please contact Support <a
                                                        href="<%- footer.support_url %>support"
                                                        rel="noopener noreferrer"
                                                        style="color: #f5a51d;text-decoration: none;font-weight: 600;">here</a>.
                                                </p>
                                            </td>
                                        </tr>

                                        <tr style="border-collapse: collapse;">
                                            <td height="16"
                                                style="padding: 0; margin: 0;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</tbody>
</table>
    <table cellspacing="0" cellpadding="0" role="modules-container"
    style="border-collapse: collapse; border-spacing: 0; width: 100%; background-color: transparent; background-repeat: repeat; background-position: 50% 0%; table-layout: fixed;">
        <tbody>
            <tr style="border-collapse: collapse;"></tr>
        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>
</body>

</html>