<%- include('header.ejs') -%>
            <div class="content-area pb-5">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-4">
                    <h1 class="page-title m-0 fw-bold text-capitalize"><%- body['title'] ? body['title'] : '' %></h1>
                </div>
          </div>
        </div>
    </main>
    <%- include('footer.ejs') -%>
    